<ng-container>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
      <img src="../assets/CBP_logo.png" alt="Community Bike Shop Logo" height="100"/>
     <ul class="mat-body-1">
       <li>Projects</li>
       <br/>
       <li>Earners</li>
       <br/>
       <li>Users</li>
       <br/>
       <li>Config</li>
     </ul>
    </mat-sidenav>
      <mat-card class="round-card">
        <mat-card-content style="text-align: center; font-size: 48px; font-weight: lighter;">
          <br />
          <br />
          <br />
          <br />
          <br />
          <span>This is a test</span>
        </mat-card-content>
      </mat-card>
  </mat-sidenav-container>
</ng-container>
